{{!-- Display movies data --}}
<table class="movie-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Genres</th>
            <th>Runtime</th>
            <th>Rated</th>
            <th>Cast</th>
            <th>Number of Comments</th>
            <th>Poster</th>
            <th>Languages</th>
            <th>Released</th>
            <th>Directors</th>
            <th>Writers</th>
            <th>Awards</th>
            <th>Last Updated</th>
            <th>IMDB Rating</th>
            <th>IMDB Votes</th>
            <th>IMDB ID</th>
            <th>Countries</th>
            <th>Type</th>
            <th>Tomatoes Viewer Rating</th>
            <th>Tomatoes Number of Reviews</th>
            <th>Tomatoes Last Updated</th>
            <th>Actions</th> <!-- Added Actions column for buttons -->
            <!-- Add more headers for other fields if needed -->
        </tr>
    </thead>
    <tbody>
        {{#each movies}}
        <tr>
            <td>{{title}}</td>
            <td>{{year}}</td>
            <td>{{genres}}</td>
            <td>{{runtime}}</td>
            <td>{{rated}}</td>
            <td>{{cast}}</td>
            <td>{{num_mflix_comments}}</td>
            <td><img style="max-height: 40px;" src="{{poster}}" alt=""></td>
            <td>{{languages}}</td>
            <td>{{released}}</td>
            <td>{{directors}}</td>
            <td>{{writers}}</td>
            <td>{{awards}}</td>
            <td>{{lastupdated}}</td>
            <td>{{imdb.rating}}</td>
            <td>{{imdb.votes}}</td>
            <td>{{imdb.id}}</td>
            <td>{{countries}}</td>
            <td>{{type}}</td>
            <td>{{tomatoes.viewer.rating}}</td>
            <td>{{tomatoes.viewer.numReviews}}</td>
            <td>{{tomatoes.lastUpdated}}</td>
            <td>
                
                <form action="/deleteMovie" method="POST"> <!-- Delete Movie button form -->
                    <button class="my-button" type="submit" name="movieId" value="{{_id}}">Delete Movie</button>
                </form>
                <form action="/updateMovie/{{_id}}" method="GET">
                    <button class="my-button" type="submit" name="Id" value="">Update Movie</button>
                </form>

            </td>
            <!-- Add more table data cells for other fields if needed -->
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Page navigation form --}}
<form action="/movies" method="GET">
    <button class="my-button" type="submit" name="page" value="{{currentPage}}">Page {{currentPage}}</button>
    {{#if hasPreviousPage}}
    <button class="my-button" type="submit" name="page" value="{{previousPage}}">Previous</button>
    {{/if}}
    {{#if hasNextPage}}
    <button class="my-button" type="submit" name="page" value="{{nextPage}}">Next</button>
    {{/if}}
</form>
    <form action="/addMovies" > <!-- Add Movie button form -->
        <button class="my-button" type="submit" name="addmovies">Add Movie</button>
    </form>
